/*
 * GENERAL
 */

* {
	font-family: 'Roboto', sans-serif;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: #333;
}

h1 {
	margin: 5px 0;
}

a {
	text-decoration: none;
}

.col-6 {
	margin: 1%;
	width: 48%;
	display: inline-block;
}

.row:last-of-type {
	margin-bottom: 150px;
}

.content-container {
	padding: 25px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.title-lg, .title-sm {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.title-sm {
	opacity: .8;
	font-weight: 200;
	font-size: 1.5em;
	font-style: italic;
	color: #faac42;
}

.title-lg {
	color: #fff;
	font-size: 3.2em;
	font-weight: 400;
	transition: opacity 0.4s ease;
}

.background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -2;
	background-image: url('../images/home.jpg');
	background-size: cover;
	transition: opacity .3s linear;
}

.background-overlay {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: #333;
	opacity: .7;
}

.background.work {
	opacity: 0;
	background-image: url('../images/work.jpg');
	background-position: center 0;
}

.background.about {
	opacity: 0;
	background-image: url('../images/about.jpg');
	background-position: right 0;
}

.background.contact {
	opacity: 0;
	background-image: url('../images/contact.jpg');
	background-position: center 0;
}

.main-nav {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.main-nav .bg-hover {
	display: inline-block;
	width: 60px;
	margin: 0;
	padding: 6px 50px;
	cursor: pointer;
	border-right: 1px solid #fff;
}

.main-nav .bg-hover:last-child {
	border: none;
}

.icon-text {
	font-size: 1em;
	transition: color 0.4s ease;
}

.bg-hover:hover .icon-text {
	color: #FAAC42;
}

.close img {
	float: right;
	cursor: pointer;
}

.pop-up {
	margin-top: 57px;
}

/*
 * HOME
 */

#lower-nav {
	text-align: center;
	display: inline-block;
}

.main-nav div a {
	color: #fff;
}

#title-wrapper {
	display: inline-block;
	transition: top 0.5s ease;
	text-align: center;
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
}

.header-nav {
	text-align: center;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}

.hide-on-home {
	display: none;
}

.header-name {
	float: left;
	color: #e6e6e6;
	position: absolute;
	top: 11px;
	opacity: .6;
}

.header-nav-wrapper ul {
	padding-left: 0;
}

.header-nav-wrapper ul li a {
	transition: color 0.4s ease;
}

.header-nav-wrapper ul li a:hover {
	color: #FAAC42;
}

li {
	list-style: none;
	float: left;
	margin: 0 25px;
	font-size: 14px;
}

li a {
	color: #e6e6e6;
}

/*
 * SOCIAL ICONS
 */

header .social {
	float: right;
	top: 0;
	margin-top: 0;
	position: relative;
	-webkit-transition: top 0.5s ease;
	-moz-transition: top 0.5s ease;
	transition: top 0.5s ease;
}

header .social i {
	color: #fff;
	opacity: 0.6;
	-webkit-transition: color 0.4s ease, opacity 0.4s ease;
	-moz-transition: color 0.4s ease, opacity 0.4s ease;
	transition: color 0.4s ease, opacity 0.4s ease;
}

header .social i:hover {
	color: #FAAC42;
	opacity: 1;
}

.social .fa {
	font-size: 20px;
}

.social {
	text-align: center;
	margin-top: 25px;
}

.social a {
	padding: 3px;
}

.instagram i {
	color: #262626;
}

.facebook i {
	color: #3B5998;
}

.github i {
	color: #333;
}

.linkedin i {
	color: #1B86BC;
}


/*
 * ABOUT
 */

#about, #work, #contact {
	position: fixed;
	background-color: #f8f8f8;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	padding: 20px;
	top: 105%;
	transition: top 0.5s ease;
	overflow-y: scroll;
}

.about-content {
	width: 90%;
	max-width: 800px;
	margin: 0 auto;
}

#profile-img {
	margin: 0 auto;
	text-align: center;
}

#profile-img img {
	border-radius: 100px;
}

.about-header {
	padding: 30px;
	border-bottom: 1px solid #d5d5d5;
}


/*
 * WORK
 */

#work {
	z-index: 5;
}

.project {
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	height: 220px;
}

.work-container {
	clear: right;
	padding: 0 20%;
}

.project-container {
	width: 80%;
	height: 500px;
	background: #fff;
	position: fixed;
	left: 50%;
	top: 15%;
	transform: translateX(-50%);
	display: none;
	z-index: 3;
	-webkit-box-shadow: 0px 3px 11px 0px rgba(148,148,148,0.5);
	-moz-box-shadow: 0px 3px 11px 0px rgba(148,148,148,0.5);
	box-shadow: 0px 3px 11px 0px rgba(148,148,148,0.5);
}

.focus-underlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: #000;
	opacity: .15;
	display: none;
}
